<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/admin/admin.css">
</head>
<body>
    <div id="container">
        <div id="header">
                   
        </div>
        <div id="content">
            <div id="sidebar" class="sidebar"> 
                {{>admin/sidebar/sidebar}}
            </div>
            <div id="body">
                {{{body}}}
            </div>
        </div>
        <div id="footer">

        </div>
    </div>
    
</body>
</html>