<nav class="tw-bg-inherit">
  <div class="tw-max-w-screen-xl tw-flex tw-flex-wrap tw-items-center tw-justify-between tw-mx-auto tw-p-4">
    <a href="https://flowbite.com/" class="tw-flex tw-items-center tw-space-x-3 rtl:tw-space-x-reverse">
      <img src="https://flowbite.com/docs/images/logo.svg" class="tw-h-8" alt="Flowbite Logo" />
      <span class="tw-self-center tw-text-2xl tw-font-semibold tw-whitespace-nowrap dark:tw-text-black">Flowbite</span>
    </a>
    <div class="tw-relative tw-bg-inherit">
            <div class="tw-absolute tw-inset-y-0 rtl:tw-inset-r-0 tw-start-0 tw-flex tw-items-center tw-ps-3 tw-pointer-events-none">
                <svg class="tw-w-4 tw-h-4 tw-text-gray-500 dark:tw-text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
            </div>
            <input type="text" id="table-search-tags" class="tw-block tw-p-2 tw-ps-10 tw-text-sm tw-text-gray-900 tw-border tw-border-gray-300 tw-rounded-lg tw-w-80 tw-bg-gray-5 dark:tw-bg-gray-50 dark:tw-border-gray-600 dark:tw-placeholder-gray-400 dark:tw-text-black" placeholder="Search for users">
    </div>
    
    
    <div class="tw-flex tw-items-center md:tw-order-2 tw-space-x-1 md:tw-space-x-0 rtl:tw-space-x-reverse">
        <div class="tw-mr-10 tw-justify-center tw-flex-wrap">
            <a href="#">
                <i class="fas fa-comment-alt"></i>
            </a>
            <a href="#">
                <i class="fa-regular fa-bell"></i>  
            </a>
        </div>
        <button type="button" data-dropdown-toggle="language-dropdown-menu" class="tw-border-none tw-inline-flex tw-items-center tw-font-medium tw-justify-center tw-px-4 tw-py-2 tw-text-sm tw-text-gray-900 dark:tw-text-black tw-rounded-lg tw-cursor-pointer hover:tw-bg-cyan-100 dark:hover:tw-bg-blue-300  dark:hover:tw-text-white">
            Huy
            <img src="/img/avatar.png" alt="" class="tw-ml-5 tw-h-10 tw-rounded-full ">
        </button>
        <!-- Dropdown -->
        <div class="tw-z-50 tw-hidden tw-my-4 tw-text-base tw-list-none tw-bg-white tw-divide-y tw-divide-gray-100 tw-rounded-lg tw-shadow dark:tw-bg-gray-700" id="language-dropdown-menu">
            <ul class="tw-py-2 tw-font-medium" role="none">
            <li>
                <a href="#" class="tw-block tw-px-4 tw-py-2 tw-text-sm tw-text-gray-700 hover:tw-bg-gray-100 dark:tw-text-gray-400 dark:hover:tw-bg-gray-600 dark:hover:tw-text-white" role="menuitem">
                <div class="tw-inline-flex tw-items-center">
                    English (US)
                </div>
                </a>
            </li>
            <li>
                <a href="#" class="tw-block tw-px-4 tw-py-2 tw-text-sm tw-text-gray-700 hover:tw-bg-gray-100 dark:tw-text-gray-400 dark:hover:tw-bg-gray-600 dark:hover:tw-text-white" role="menuitem">
                <div class="tw-inline-flex tw-items-center">
                    Deutsch
                </div>
                </a>
            </li>
            <li>
                <a href="#" class="tw-block tw-px-4 tw-py-2 tw-text-sm tw-text-gray-700 hover:tw-bg-gray-100 dark:tw-text-gray-400 dark:hover:tw-bg-gray-600 dark:hover:tw-text-white" role="menuitem">
                <div class="tw-inline-flex tw-items-center">
                    Italiano
                </div>
                </a>
            </li>
            <li>
                <a href="#" class="tw-block tw-px-4 tw-py-2 tw-text-sm tw-text-gray-700 hover:tw-bg-gray-100 dark:tw-text-gray-400 dark:hover:tw-bg-gray-600 dark:hover:tw-text-white" role="menuitem">
                <div class="tw-inline-flex tw-items-center">
                    中文 (繁體)
                </div>
                </a>
            </li>
            </ul>
        </div>
        <button data-collapse-toggle="navbar-language" type="button" class="tw-inline-flex tw-items-center tw-p-2 tw-w-10 tw-h-10 tw-justify-center tw-text-sm tw-text-gray-500 tw-rounded-lg md:tw-hidden hover:tw-bg-gray-100 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-gray-200 dark:tw-text-gray-400 dark:hover:tw-bg-gray-700 dark:focus:tw-ring-gray-600" aria-controls="navbar-language" aria-expanded="false">
            <span class="tw-sr-only">Open main menu</span>
        </button>
        </div>
        <div class="tw-items-center tw-justify-between tw-hidden tw-w-full md:tw-flex md:tw-w-auto md:tw-order-1" id="navbar-language">
        
        </ul>
        </div>
    </div>
</nav>
