<nav class="tw-bg-inherit">
    <div class="tw-max-w-screen-xl tw-flex tw-flex-wrap tw-items-center tw-justify-between tw-mx-auto tw-p-4">
        <a href="#" class="tw-flex tw-items-center tw-space-x-3 rtl:tw-space-x-reverse">
        <img src="https://flowbite.com/docs/images/logo.svg" class="tw-h-8" alt="Flowbite Logo" />
        <span class="tw-self-center tw-text-2xl tw-font-semibold tw-whitespace-nowrap dark:tw-text-black">Logo</span>
        </a>

    <div class="tw-relative tw-bg-inherit">
           
    </div>
    
    
    <div class="tw-flex tw-items-center md:tw-order-2 tw-space-x-1 md:tw-space-x-0 rtl:tw-space-x-reverse">
        <div class="tw-mr-10 tw-justify-center tw-flex-wrap">
            <a href="#">
                <i class="fas fa-comment-alt"></i>
            </a>
            <a href="#">
                <i class="fa-regular fa-bell"></i>  
            </a>
        </div>

        {{!-- Drop down logout .... --}}
        <div>
            <button id="admin-header-dropdownActionButton" type="button" data-dropdown-toggle="language-dropdown-menu" class="tw-border-none tw-inline-flex tw-items-center tw-font-medium tw-justify-center tw-px-4 tw-py-2 tw-text-sm tw-text-gray-900 dark:tw-text-black tw-rounded-lg tw-cursor-pointer hover:tw-bg-cyan-100 dark:hover:tw-bg-blue-300  dark:hover:tw-text-white">
                Huy
                <img src="/img/avatar.png" alt="" class="tw-ml-5 tw-h-10 tw-rounded-full ">
            </button>

            <!-- Dropdown menu -->
            <div id="admin-header-dropdownAction" class="tw-absolute  tw-z-10 tw-hidden tw-bg-white tw-divide-y tw-divide-gray-100 tw-rounded-lg tw-shadow tw-w-44 dark:tw-bg-cyan-100 dark:tw-divide-blue-200">
                <a href="#" class="tw-text-gray-900 tw-block tw-px-4 tw-py-2 hover:tw-bg-cyan-100 dark:hover:tw-bg-cyan-300 dark:hover:tw-text-white">Information</a>
                <a href="#" class="tw-text-gray-900 tw-block tw-px-4 tw-py-2 hover:tw-bg-cyan-100 dark:hover:tw-bg-cyan-300 dark:hover:tw-text-white">Log out</a>
                
            </div>
        </div>
        

        <button data-collapse-toggle="navbar-language" type="button" class="tw-inline-flex tw-items-center tw-p-2 tw-w-10 tw-h-10 tw-justify-center tw-text-sm tw-text-gray-500 tw-rounded-lg md:tw-hidden hover:tw-bg-gray-100 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-gray-200 dark:tw-text-gray-400 dark:hover:tw-bg-gray-700 dark:focus:tw-ring-gray-600" aria-controls="navbar-language" aria-expanded="false">
            <span class="tw-sr-only">Open main menu</span>
        </button>
        </div>
        <div class="tw-items-center tw-justify-between tw-hidden tw-w-full md:tw-flex md:tw-w-auto md:tw-order-1" id="navbar-language">
        
        </ul>
        </div>
    </div>
</nav>
