<link rel="stylesheet" href="/css/article-manage.css" />
<div class ="article-manage-container">
    <div class ="article-manage-sidebar">
        {{>article-manage/sidebar}}
    </div>
    <div class="article-manage-content">
        {{>article-manage/article-draft list=list}}
    </div>
</div>