<link rel="stylesheet" href="/footer.css" />
<script
  src="https://kit.fontawesome.com/1165876da6.js"
  crossorigin="anonymous"
></script>

<div class="client-footer">
  <div class="client-footer-container tw-bg-[#53aa51]">
        <p class="tw-text-white">&copy; E-Paper By Vũ Huy Huy Cường</p>
  </div>
</div>