<link rel="stylesheet" href="/footer.css" />
<script
  src="https://kit.fontawesome.com/1165876da6.js"
  crossorigin="anonymous"
></script>

<div class="client-footer">
  <div class="client-footer-container tw-bg-[#53aa51]">
    <div class="client-footer-content">
      <h3 class="tw-text-white">Contact Us</h3>
      <p class="tw-text-white">Email:Info@example.com</p>
      <p class="tw-text-white">Phone:+121 56556 565556</p>
      <p class="tw-text-white">Address:Your Address 123 street</p>
    </div>
    <div class="client-footer-content">
      <h3 class="tw-text-white">Quick Links</h3>
      <ul class="client-footer-list">
        <li><a class="tw-text-white" href="">Home</a></li>
        <li><a class="tw-text-white" href="">About</a></li>
        <li><a class="tw-text-white" href="">Services</a></li>
        <li><a class="tw-text-white" href="">Products</a></li>
        <li><a class="tw-text-white" href="">Contact</a></li>
      </ul>
    </div>
    <div class="client-footer-content">
      <h3 class="tw-text-white">Follow Us</h3>
      <ul class="client-footer-social-icons">
        <li><a class="tw-text-white" href=""><i
              class="fab fa-facebook"
            ></i></a></li>
        <li><a class="tw-text-white" href=""><i
              class="fab fa-twitter"
            ></i></a></li>
        <li><a class="tw-text-white" href=""><i
              class="fab fa-instagram"
            ></i></a></li>
        <li><a class="tw-text-white" href=""><i
              class="fab fa-linkedin"
            ></i></a></li>
      </ul>
    </div>
  </div>
  <div class="client-footer-bottom-bar tw-bg-[#141A28]">
    <p class="tw-text-white">&copy; E-Paper By Vũ Huy Huy Cường</p>
  </div>
</div>