<link rel="stylesheet" href="/css/post-card.css" />

<div class="post-card tw-ml-3 tw-w-[450px] tw-pb-16">
  {{! Image }}
  <div class="post-card-img">
    <img
      class="tw-object-cover tw-w-full tw-block tw-rounded-[15px]"
      src="https://images.unsplash.com/2/02.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
  </div>
  {{! Title }}
  <div class="post-card-title tw-mt-2 tw-ml-2 tw-w-[420px]">
    <span class="tw-text-3xl tw-font-semibold">What Happened To The Clippers?</span>
  </div>
  {{! Content }}
  <div
    class="post-card-content tw-overflow-hidden tw-text-ellipsis tw-mt-3 tw-ml-2 tw-font-extralight tw-text-gray-700"
  >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur ratione
    beatae cum voluptatibus quia adipisci modi consequatur delectus vitae sequi,
    doloribus ex maiores placeat saepe iure soluta recusandae tempora culpa? lor
  </div>
  {{! Tags }}
  <div
    class="post-card-tags tw-mt-3 tw-ml-2 tw-flex tw-justify-start tw-items-center"
  >
    <div
      class="tw-bg-gray-200 tw-mr-3 tw-cursor-pointer tw-w-[80px] tw-h-[30px] tw-border-red-600 tw-rounded-[50px] tw-text-center tw-inline-flex tw-items-center tw-justify-center tw-text-gray-600"
    >
      Kinh tế
    </div>
    <div
      class="tw-bg-gray-200 tw-mr-3 tw-cursor-pointer tw-w-[80px] tw-h-[30px] tw-border-red-600 tw-rounded-[50px] tw-text-center tw-inline-flex tw-items-center tw-justify-center tw-text-gray-600"
    >
      Thế giới
    </div>
    <div
      class="tw-bg-gray-200 tw-mr-3 tw-cursor-pointer tw-w-[80px] tw-h-[30px] tw-border-red-600 tw-rounded-[50px] tw-text-center tw-inline-flex tw-items-center tw-justify-center tw-text-gray-600"
    >
      Giáo dục
    </div>
  </div>
  {{! Post info }}
  <div class="post-card-info tw-mt-3 tw-ml-4">
    <span class="post-card-info-author tw-mr-2 tw-font-normal">By Gabie Sheber
    </span>
    <span class="post-card-info-datetime tw-text-gray-500">May 22, 2020</span>
  </div>
</div>