#account-setting-sidebar{
    padding-top: 80px;
    padding-left:135px;
    /* text-align: center; */
    box-sizing: border-box;
    width: 400px;
    background: var(--Ultra-Light-Grey, #F5F7F9);
    height:100vh;
}
#account-setting-sidebar ul{
    list-style-type: none;
}
#account-setting-sidebar ul>:first-child{
    color: var(--Main-black, #141A28);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 88.889% */
    margin-bottom: 32px;
}
#account-setting-sidebar ul li {
    margin-bottom: 37px;
}
#account-setting-sidebar ul li a{
    text-decoration: none;
    color: #7E7F81;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 87.5% */
}
#account-setting-sidebar ul li.active a{
    color: var(--Main-black, #141A28);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 87.5% */
    border-bottom: 3px solid #53AA51; /* hoặc màu và độ dày bạn muốn */
  
}
#account-setting-sidebar ul li:hover a{
    color: #53AA51; /* Thay đổi màu chữ khi hover */
    border-bottom: 2px solid #53AA51; /* Thêm đường viền dưới khi hover */
    padding-bottom: 5px; /* Tạo khoảng trống giữa chữ và đường viền */
    transition: all 0.3s ease; /* Thêm hiệu ứng chuyển đổi mượt */
}
