#admin-tags-row {
    background-color: #ffffff; 
    border-bottom: 1px solid #e5e7eb; 
}

.dark #admin-tags-row {
    background-color: #1f2937; 
    border-color: #374151; 
}

#admin-tags-row:hover {
    background-color: #f9fafb;
}

.dark #admin-tags-row:hover {
    background-color: #4b5563; 
}
