<link rel="stylesheet" href="/css/article-manage-sidebar.css" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<nav id="article-manage-sidebar">
  <ul>
    <li class="article-manage-sidebar-header">
      <i class="bi bi-pencil"></i>
      <span>Danh sách bài viết</span>
    </li>
    <li>
      <i class="bi bi-pencil"></i>
      <a href="/article-manage-all">
        <span>Tất cả bài viết</span>
      </a>
    </li>
    <li>
      <i class="bi bi-file-earmark-check"></i>
      <a href="/article-manage-published">
        <span>Bài viết đã xuất bản</span>
      </a>
    </li>
    <li>
      <i class="bi bi-clock-history"></i>
      <a href="/article-manage-approved">
        <span>Bài viết chờ xuất bản</span>
      </a>
    </li>
    <li>
      <i class="bi bi-hourglass-split"></i>
      <a href="/article-manage-pending">
        <span>Bài viết chưa được duyệt </span>
      </a>
    </li>
    <li>
      <i class="bi bi-x-circle"></i>
      <a href="/article-manage-rejected">
        <span>Bài viết bị từ chối </span>
      </a>
    </li>

  </ul>
</nav>