<link rel="stylesheet" href="/css/article-manage-sidebar.css" />
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<nav id="article-manage-sidebar">
  <ul>
    <li class="article-manage-sidebar-header">
      <i class="bi bi-pencil"></i>
      <span>Articles List</span>
    </li>
    <li>
      <i class="bi bi-pencil"></i>
      <a href="/writer/article/manage/AllArticle">
        <span>All Article</span>
      </a>
    </li>
    <li>
      <i class="bi bi-file-earmark-check"></i>
      <a href="/writer/article/manage/PublishedArticle">
        <span>Published</span>
      </a>
    </li>
    <li>
      <i class="bi bi-clock-history"></i>
      <a href="/writer/article/manage/PendingArticle">
        <span>Pending</span>
      </a>
    </li>
    <li>
      <i class="bi bi-hourglass-split"></i>
      <a href="/writer/article/manage/DraftArticle">
        <span>Draft</span>
      </a>
    </li>
    <li>
      <i class="bi bi-x-circle"></i>
      <a href="/writer/article/manage/RejectedArticle">
        <span>Rejected</span>
      </a>
    </li>

  </ul>
</nav>