#admin-content {
  display: flex;
  gap: 20px;
  height: 100vh;
}
#admin-container {
  height: 100vh;
}
#admin-header {
  background: linear-gradient(to bottom, white, #f0f8ff);
}
#admin-sidebar {
  background: linear-gradient(to bottom, #f0f8ff, #bdf3ff);
}
#admin-footer {
  background: linear-gradient(to bottom, #bdf3ff, #87ceeb);
}
#admin-sidebar {
  width: auto;
}
