.client-header {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 60px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.client-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5%;
}
.client-header-icon {
  margin-left: 1%;
}
.client-header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-header-navigation-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5%;
}
.client-header-navigation-menu > .menu {
  margin-right: 55px;
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
}
.client-header-navigation-search {
  margin-right: 20px;
  cursor: pointer;
}
.client-header-navigation-login {
  margin-right: 20px;
  margin-bottom: 1%;
}
.client-header-loginButton {
  border-radius: 30px;
  background-color: #53aa51;
  height: 35px;
  width: 120px;
  border-color: transparent;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.submenu {
  display: none; /* Ẩn mặc định */
  position: absolute;
  top: 100%; /* Hiển thị ngay dưới menu */
  left: 0;
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Bóng đổ cho menu con */
  z-index: 10;
  border-radius: 10px;
  width: auto;
}

.submenu li {
  padding: 10px 15px;
  white-space: nowrap;
}

.submenu li:hover {
  background-color: #f0f0f0; /* Đổi màu nền khi hover vào thư mục con */
}

.client-header-navigation-menu .menu:hover .submenu {
  display: block; /* Hiển thị submenu khi hover vào menu */
}
