*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

.tw-m-auto {
  margin: auto !important;
}

.tw-mb-\[200px\] {
  margin-bottom: 200px !important;
}

.tw-ml-2 {
  margin-left: 0.5rem !important;
}

.tw-ml-3 {
  margin-left: 0.75rem !important;
}

.tw-ml-4 {
  margin-left: 1rem !important;
}

.tw-mr-1 {
  margin-right: 0.25rem !important;
}

.tw-mr-2 {
  margin-right: 0.5rem !important;
}

.tw-mr-3 {
  margin-right: 0.75rem !important;
}

.tw-mt-2 {
  margin-top: 0.5rem !important;
}

.tw-mt-3 {
  margin-top: 0.75rem !important;
}

.tw-mt-5 {
  margin-top: 1.25rem !important;
}

.tw-mt-\[60px\] {
  margin-top: 60px !important;
}

.tw-mb-3 {
  margin-bottom: 0.75rem !important;
}

.tw-mb-5 {
  margin-bottom: 1.25rem !important;
}

.tw-ml-5 {
  margin-left: 1.25rem !important;
}

.tw-line-clamp-3 {
  overflow: hidden !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
  -webkit-line-clamp: 3 !important;
}

.tw-block {
  display: block !important;
}

.tw-flex {
  display: flex !important;
}

.tw-inline-flex {
  display: inline-flex !important;
}

.tw-grid {
  display: grid !important;
}

.tw-h-\[100px\] {
  height: 100px !important;
}

.tw-h-\[30px\] {
  height: 30px !important;
}

.tw-h-\[80\%\] {
  height: 80% !important;
}

.tw-h-\[200px\] {
  height: 200px !important;
}

.tw-h-\[150px\] {
  height: 150px !important;
}

.tw-h-\[250px\] {
  height: 250px !important;
}

.tw-h-\[1050px\] {
  height: 1050px !important;
}

.tw-h-\[180px\] {
  height: 180px !important;
}

.tw-h-\[75\%\] {
  height: 75% !important;
}

.tw-h-\[160px\] {
  height: 160px !important;
}

.tw-w-\[100\%\] {
  width: 100% !important;
}

.tw-w-\[100px\] {
  width: 100px !important;
}

.tw-w-\[120px\] {
  width: 120px !important;
}

.tw-w-\[300px\] {
  width: 300px !important;
}

.tw-w-\[420px\] {
  width: 420px !important;
}

.tw-w-\[450px\] {
  width: 450px !important;
}

.tw-w-\[550px\] {
  width: 550px !important;
}

.tw-w-\[80\%\] {
  width: 80% !important;
}

.tw-w-\[80px\] {
  width: 80px !important;
}

.tw-w-\[auto\] {
  width: auto !important;
}

.tw-w-\[full\] {
  width: full !important;
}

.tw-w-full {
  width: 100% !important;
}

.tw-w-\[650px\] {
  width: 650px !important;
}

.tw-w-\[750px\] {
  width: 750px !important;
}

.tw-w-\[800px\] {
  width: 800px !important;
}

.tw-w-\[100vw\] {
  width: 100vw !important;
}

.tw-w-\[80vw\] {
  width: 80vw !important;
}

.tw-w-\[700px\] {
  width: 700px !important;
}

.tw-w-\[40\%\] {
  width: 40% !important;
}

.tw-w-\[10\%\] {
  width: 10% !important;
}

.tw-w-\[20\%\] {
  width: 20% !important;
}

.tw-w-\[18\%\] {
  width: 18% !important;
}

.tw-w-\[15\%\] {
  width: 15% !important;
}

.tw-cursor-pointer {
  cursor: pointer !important;
}

.tw-grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr)) !important;
}

.tw-grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr)) !important;
}

.tw-flex-col {
  flex-direction: column !important;
}

.tw-items-center {
  align-items: center !important;
}

.tw-justify-start {
  justify-content: flex-start !important;
}

.tw-justify-center {
  justify-content: center !important;
}

.tw-justify-between {
  justify-content: space-between !important;
}

.tw-justify-around {
  justify-content: space-around !important;
}

.tw-overflow-hidden {
  overflow: hidden !important;
}

.tw-overflow-y-auto {
  overflow-y: auto !important;
}

.tw-text-ellipsis {
  text-overflow: ellipsis !important;
}

.tw-rounded-\[100\%\] {
  border-radius: 100% !important;
}

.tw-rounded-\[15px\] {
  border-radius: 15px !important;
}

.tw-rounded-\[50px\] {
  border-radius: 50px !important;
}

.tw-rounded-lg {
  border-radius: 0.5rem !important;
}

.tw-border-\[1\.5px\] {
  border-width: 1.5px !important;
}

.tw-border-solid {
  border-style: solid !important;
}

.tw-border-none {
  border-style: none !important;
}

.tw-border-gray-300 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
}

.tw-border-red-600 {
  --tw-border-opacity: 1 !important;
  border-color: rgb(220 38 38 / var(--tw-border-opacity)) !important;
}

.tw-bg-\[\#141A28\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(20 26 40 / var(--tw-bg-opacity)) !important;
}

.tw-bg-\[\#53aa51\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(83 170 81 / var(--tw-bg-opacity)) !important;
}

.tw-bg-gray-200 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
}

.tw-object-cover {
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.tw-object-top {
  -o-object-position: top !important;
     object-position: top !important;
}

.tw-p-2 {
  padding: 0.5rem !important;
}

.tw-pb-16 {
  padding-bottom: 4rem !important;
}

.tw-pb-5 {
  padding-bottom: 1.25rem !important;
}

.tw-text-center {
  text-align: center !important;
}

.tw-text-justify {
  text-align: justify !important;
}

.tw-text-3xl {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important;
}

.tw-text-\[12px\] {
  font-size: 12px !important;
}

.tw-text-\[16px\] {
  font-size: 16px !important;
}

.tw-text-\[40px\] {
  font-size: 40px !important;
}

.tw-text-lg {
  font-size: 1.125rem !important;
  line-height: 1.75rem !important;
}

.tw-text-2xl {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
}

.tw-text-xl {
  font-size: 1.25rem !important;
  line-height: 1.75rem !important;
}

.tw-text-xs {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
}

.tw-text-\[14px\] {
  font-size: 14px !important;
}

.tw-text-\[13px\] {
  font-size: 13px !important;
}

.tw-text-\[15px\] {
  font-size: 15px !important;
}

.tw-text-sm {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}

.tw-font-extrabold {
  font-weight: 800 !important;
}

.tw-font-extralight {
  font-weight: 200 !important;
}

.tw-font-normal {
  font-weight: 400 !important;
}

.tw-font-semibold {
  font-weight: 600 !important;
}

.tw-font-bold {
  font-weight: 700 !important;
}

.tw-font-light {
  font-weight: 300 !important;
}

.tw-font-medium {
  font-weight: 500 !important;
}

.tw-ordinal {
  --tw-ordinal: ordinal !important;
  font-variant-numeric: var(--tw-ordinal) var(--tw-slashed-zero) var(--tw-numeric-figure) var(--tw-numeric-spacing) var(--tw-numeric-fraction) !important;
}

.tw-text-\[\#53aa51\] {
  --tw-text-opacity: 1 !important;
  color: rgb(83 170 81 / var(--tw-text-opacity)) !important;
}

.tw-text-\[\#54A651\] {
  --tw-text-opacity: 1 !important;
  color: rgb(84 166 81 / var(--tw-text-opacity)) !important;
}

.tw-text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity)) !important;
}

.tw-text-gray-500 {
  --tw-text-opacity: 1 !important;
  color: rgb(107 114 128 / var(--tw-text-opacity)) !important;
}

.tw-text-gray-600 {
  --tw-text-opacity: 1 !important;
  color: rgb(75 85 99 / var(--tw-text-opacity)) !important;
}

.tw-text-gray-700 {
  --tw-text-opacity: 1 !important;
  color: rgb(55 65 81 / var(--tw-text-opacity)) !important;
}

.tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
}

.tw-text-gray-400 {
  --tw-text-opacity: 1 !important;
  color: rgb(156 163 175 / var(--tw-text-opacity)) !important;
}

.tw-text-\[15\] {
  color: 15 !important;
}

.tw-text-\[12\] {
  color: 12 !important;
}

body {
  margin: 0;
  display: flex;
  /* This makes the body a flex container */
  flex-direction: column;
  /* Sets the flex container to have a vertical column layout. */
  min-height: 100vh;
  /* Ensures that the body takes up at least the full height of the viewport. */
  box-sizing: inherit;
}
