<link rel="stylesheet" href="/css/account-setting-sidebar.css" />
<nav id="account-setting-sidebar">
  <ul>
    <li>Account Setting</li>
    <li>
      <a href="/account-setting/myprofile">
        <span>My Profile</span>
      </a>
    </li>
    <li class="active">
      <a href="#">
        <span>Security</span>
      </a>
    </li>
    {{! <li>
            <a href ="/account-setting-upgrade">
                <span>Upgrade to Premium</span>
            </a>
        </li> }}

  </ul>
</nav>