<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; height: 90vh; width: 100vw;">
  <h1>403</h1>
  <h3>You do not have permission to access this page</h3>
</div>
