<link rel="stylesheet" href="/css/article-editor.css">

<div class="article-editor-container">
    <div class="article-title mb-3" style = "margin-bottom:50px;">
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" placeholder="Tiêu đề" style="padding-top: 10px; padding-bottom:10px;"></textarea>
    </div>

  <div style="display: flex; justify-content: space-between; width: 100%; align-items: stretch; margin-bottom: 50px">
    <div class="article-editor-tagInput">
      <ul>
        <input type="text" spellcheck="false" placeholder="Nhập tối đa 5 nhãn cho bài viết">
      </ul>
      <div class="article-editor-tagsDetail">
      <p>Có thể nhập thêm <span>5</span> nhãn</p>
      {{!-- <button>Remove All</button> --}}
    </div>
    </div>

    <div class="article-thumbnail mb-3" style="box-sizing: border-box; max-width: 15%; vertical-align: top; margin: 0px; height: 100%;">
      <input type="file" id="formFile" style="display: none;">
      <label for="formFile" class="btn btn-light" style="height: 100%; padding-top: 10px; padding-bottom: 10px;">Chọn ảnh thu nhỏ</label>
    </div>

  <button type="button" class="btn btn-light" style="box-sizing: border-box; max-width: 15%; height: 100%; padding-top: 10px; padding-bottom: 10px;">Xuất bản bài viết</button>
  </div>




    <div class="article-text-editor">
        {{>article-editor/text-editor placeholderText="Write the content of the article" textHeight= 500}}
   </div>
</div>
<script src = "/js/article-editor.js"></script>
