<div class="tw-font-extrabold tw-text-[40px] tw-ml-4 tw-mt-2">Related posts</div>
<div class="tw-grid tw-grid-cols-4 gap-1 tw-mt-5">
{{>article-detail/post-card-related}}
{{>article-detail/post-card-related}}
{{>article-detail/post-card-related}}
{{>article-detail/post-card-related}}

</div>
</div>