<link rel="stylesheet" href="/css/article-detail.css" />
  {{! Cover image }}
  <div class="tw-text-center">
    <img
      class="tw-h-[410px] tw-w-full tw-object-cover tw-object-center"
      src="https://images.unsplash.com/photo-1495020689067-958852a7765e?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt=""
    />
  </div>
<div class="tw-flex tw-flex-col tw-h-auto container ">
  {{! Title and Category  }}
  <div class="tw-mx-[128px]">

    <div
      class="tw-font-extrabold tw-text-2xl tw-m-5 tw-mt-3 tw-underline tw-text-[#53aa51]"
    >Chính trị</div>
    {{#if title}}
      {{title}}
    {{else}}
      <div
        class="tw-font-semibold tw-text-[40px] tw-tracking-wide tw-leading-[1.1] tw-text-left tw-m-5"
      >Việt Nam khuyến cáo công công công công dân ở Ukraine sẵn sàng sơ tán
        khỏi thành phố lớn</div>
    {{/if}}

  </div>
  {{! Tags, Author, Date and Download button }}
  {{! Author and Date }}
  <div class="article-info tw-mt-5 tw-mx-[128px] tw-w-auto tw-px-5 tw-mb-5">
    <span class="article-info-author tw-mr-2 tw-font-normal">By Gabie Sheber
    </span>
    <span class="article-info-datetime tw-text-gray-500">May 22, 2020</span>
  </div>
  {{! Tags and Button download }}
  <div
    class="article-info-wrapper tw-flex tw-items-end tw-justify-start tw-px-10 tw-pl-5 tw-ml-[128px]"
  >
    <div
      class="tag tw-bg-gray-200 tw-mr-3 tw-cursor-pointer tw-max-w-[120px] tw-w-full tw-h-[38px] tw-border-red-600 tw-rounded-[50px] tw-text-center tw-inline-flex tw-items-center tw-justify-center tw-text-gray-600 tw-text-xs tw-font-medium"
    >
      Education
    </div>
    <div
      class="tag tw-bg-gray-200 tw-mr-3 tw-cursor-pointer tw-max-w-[120px] tw-w-full tw-h-[38px] tw-border-red-600 tw-rounded-[50px] tw-text-center tw-inline-flex tw-items-center tw-justify-center tw-text-gray-600 tw-text-xs tw-font-medium"
    >
      Education
    </div>
    <div
      class="tag tw-bg-gray-200 tw-mr-3 tw-cursor-pointer tw-max-w-[120px] tw-w-full tw-h-[38px] tw-border-red-600 tw-rounded-[50px] tw-text-center tw-inline-flex tw-items-center tw-justify-center tw-text-gray-600 tw-text-xs tw-font-medium"
    >
      Education
    </div>
    {{! Button download }}
    <div
      class="tw-self-end tw-w-full tw-text-end flex tw-items-center tw-justify-between tw-h-auto"
    >
      <button
        class="tw-w-[auto] tw-h-[38px] tw-border-none tw-rounded-[30px] tw-bg-[#53AA51] tw-text-white tw-text-center tw-text-sm tw-font-medium tw-px-4"
        type="button"
      >
        <svg
          width="28px"
          height="28px"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></g><g id="SVGRepo_iconCarrier">
            <path
              d="M13.5 3H12H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H7.5M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V9.75V12V19C19 20.1046 18.1046 21 17 21H16.5"
              stroke="#ffffff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M12 12V20M12 20L9.5 17.5M12 20L14.5 17.5"
              stroke="#ffffff"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g></svg>
        Download PDF</button>
    </div>

  </div>
  {{! Article content }}
  <div class="tw-mx-[148px] tw-text-left tw-my-10 tw-mt-5 tw-mb-24">

    {{{this.content}}}

  </div>
  {{! Comment section }}
  <div
    class="comment-section tw-w-auto tw-h-[550px] tw-border-2 tw-border-solid tw-border-gray-300 tw-rounded-lg tw-mt-7 tw-mb-14 tw-mx-[128px]"
  >
    {{! Place for user comment }}
    <form action="">
      <div class="tw-flex tw-justify-start tw-items-baseline">
        <div class="comment-icon tw-ml-5">
          <svg
            version="1.1"
            id="_x34_"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 512 512"
            xml:space="preserve"
            width="72px"
            height="72px"
            fill="#ffffff"
            stroke="#ffffff"
          ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g><g id="SVGRepo_iconCarrier">
              <g>
                <g>
                  <path
                    style="fill:#53AA51;"
                    d="M381.311,126.474v212.251c0,14.281-10.497,26.069-24.176,28.134 c-1.463,0.343-2.926,0.43-4.388,0.43H222.403l-95.156,73.56l1.893-73.56H28.478c-1.549,0-3.011-0.086-4.474-0.43 c-12.131-1.807-21.681-11.443-23.574-23.574c-0.344-1.464-0.43-3.012-0.43-4.56V126.474c0-15.744,12.733-28.477,28.478-28.477 h324.27C368.492,97.996,381.311,110.729,381.311,126.474z"
                  ></path>
                  <path
                    style="fill:#53AA51;"
                    d="M512,28.048v269.207c0,15.487-12.562,28.048-28.048,28.048H79.411 c-15.486,0-27.962-12.561-27.962-28.048V28.048C51.449,12.562,63.925,0,79.411,0h404.541c2.323,0,4.56,0.258,6.711,0.861 c10.067,2.409,18.068,10.41,20.477,20.476C511.742,23.488,512,25.725,512,28.048z"
                  ></path>
                  <path
                    style="fill:#53AA51;"
                    d="M512,34.5v256.388c0,8.087-2.753,15.573-7.485,21.423c-0.861,1.118-1.807,2.151-2.839,3.183 c-0.775,0.774-1.635,1.463-2.495,2.151c-0.947,0.86-1.979,1.549-3.098,2.237c-0.688,0.516-1.549,0.946-2.323,1.377 c2.065-2.668,3.7-5.679,4.904-8.948c1.376-3.699,2.151-7.742,2.151-11.959V43.965c0-19.014-15.487-34.414-34.501-34.414H74.679 c-5.85,0-11.271,1.376-16.089,3.957C64.871,5.335,74.765,0,85.864,0h391.722c5.936,0,11.528,1.549,16.433,4.216 c5.85,3.184,10.668,8.002,13.852,13.853C510.451,22.972,512,28.565,512,34.5z"
                  ></path>
                  <polygon
                    style="fill:#53AA51;"
                    points="205.116,295.741 355.257,295.741 358.321,414.179 "
                  ></polygon>
                  <path
                    style="opacity:0.06;fill:#53AA51;"
                    d="M504.526,312.304c-6.312,7.935-16.055,13.022-26.962,13.022H356.018l2.298,88.853 l-114.927-88.853H85.874c-10.908,0-20.651-5.086-26.962-13.022h179.33l113.946,88.087l-2.267-88.087H504.526z"
                  ></path>
                  <g>
                    <rect
                      x="143.843"
                      y="63.866"
                      style="fill:#93CEB2;"
                      width="269.624"
                      height="29.107"
                    ></rect>
                    <rect
                      x="143.843"
                      y="144.031"
                      style="fill:#93CEB2;"
                      width="297.199"
                      height="29.107"
                    ></rect>
                    <rect
                      x="143.843"
                      y="223.693"
                      style="fill:#93CEB2;"
                      width="162.004"
                      height="29.107"
                    ></rect>
                  </g>
                </g>
                <path
                  style="opacity:0.06;fill:#53AA51;"
                  d="M211.787,375.495l10.616-8.207h75.262l60.651,46.89v-0.003l0.005,0.003l-1.224-47.315 c0.013-0.004,0.026-0.001,0.038-0.004c13.679-2.065,24.176-13.853,24.176-28.134v-13.399h96.252c0.069,0,0.131-0.023,0.2-0.023 h6.19c15.486,0,28.048-12.561,28.048-28.048v-6.367V75.282L211.787,375.495z"
                ></path>
              </g>
            </g></svg>
        </div>
        <span class="tw-text-3xl tw-font-extrabold tw-ml-5 tw-w-full">Comment
          (10)</span>
        <div class="tw-w-full tw-text-end tw-mr-5">
          <button
            class="tw-w-[100px] tw-h-[40px] tw-border-none tw-rounded-[30px] tw-bg-[#53AA51] tw-text-white tw-text-center tw-font-bold text-xl"
            type="submit"
          >Send</button>
        </div>
      </div>

      <div>
        <textarea
          class="tw-w-full tw-h-[100px] tw-text-black tw-p-3"
          name="comment"
          id="comment"
          placeholder="Share your opinion here..."
        ></textarea>
      </div>
    </form>
    <div class="">
      {{>article-detail/comment}}
      {{>article-detail/comment}}
      {{>article-detail/comment}}
      {{>article-detail/comment}}
      {{>article-detail/comment}}
      {{>article-detail/comment}}
      {{>article-detail/comment}}
    </div>
  </div>
  {{! Related posts }}
  <div class="tw-font-extrabold tw-text-[40px] tw-ml-4 tw-mt-2">Related posts</div>
  <div class="tw-grid tw-grid-cols-3 gap-5 tw-mb-10  container tw-mt-10">
    {{>posts/post-card
     article_image_url="https://images.unsplash.com/2/02.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  
     article_title="What Happened To The Clippers?"
     article_abstract="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi in dicta, hic, omnis natus iusto voluptates, dolore nobis ducimus aspernatur saepe voluptas delectus non laborum recusandae nisi aliquid repellat voluptatem!"
     category_name="Education"
     article_is_premium=true
     article_tags=["He","Hu","Ha"]
     author_name="Van Vu"
      article_publish_date="2024-01-15T03:00:00.000Z"
      }}
    {{>posts/post-card
     article_image_url="https://images.unsplash.com/2/02.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  
     article_title="What Happened To The Clippers?"
     article_abstract="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi in dicta, hic, omnis natus iusto voluptates, dolore nobis ducimus aspernatur saepe voluptas delectus non laborum recusandae nisi aliquid repellat voluptatem!"
     category_name="Education"
     article_is_premium=true
     article_tags=["He","Hu","Ha"]
     author_name="Van Vu"
      article_publish_date="2024-01-15T03:00:00.000Z"
      }}
    {{>posts/post-card
     article_image_url="https://images.unsplash.com/2/02.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  
     article_title="What Happened To The Clippers?"
     article_abstract="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi in dicta, hic, omnis natus iusto voluptates, dolore nobis ducimus aspernatur saepe voluptas delectus non laborum recusandae nisi aliquid repellat voluptatem!"
     category_name="Education"
     article_is_premium=true
     article_tags=["He","Hu","Ha"]
     author_name="Van Vu"
      article_publish_date="2024-01-15T03:00:00.000Z"
      }}
    {{>posts/post-card
     article_image_url="https://images.unsplash.com/2/02.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  
     article_title="What Happened To The Clippers?"
     article_abstract="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi in dicta, hic, omnis natus iusto voluptates, dolore nobis ducimus aspernatur saepe voluptas delectus non laborum recusandae nisi aliquid repellat voluptatem!"
     category_name="Education"
     article_is_premium=true
     article_tags=["He","Hu","Ha"]
     author_name="Van Vu"
      article_publish_date="2024-01-15T03:00:00.000Z"
      }}
    {{>posts/post-card
     article_image_url="https://images.unsplash.com/2/02.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  
     article_title="What Happened To The Clippers?"
     article_abstract="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi in dicta, hic, omnis natus iusto voluptates, dolore nobis ducimus aspernatur saepe voluptas delectus non laborum recusandae nisi aliquid repellat voluptatem!"
     category_name="Education"
     article_is_premium=true
     article_tags=["He","Hu","Ha"]
     author_name="Van Vu"
      article_publish_date="2024-01-15T03:00:00.000Z"
      }}
    {{>posts/post-card
     article_image_url="https://images.unsplash.com/2/02.jpg?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"  
     article_title="What Happened To The Clippers?"
     article_abstract="Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi in dicta, hic, omnis natus iusto voluptates, dolore nobis ducimus aspernatur saepe voluptas delectus non laborum recusandae nisi aliquid repellat voluptatem!"
     category_name="Education"
     article_is_premium=true
     article_tags=["He","Hu","Ha"]
     author_name="Van Vu"
      article_publish_date="2024-01-15T03:00:00.000Z"
      }}
  </div>
</div>