<link rel="stylesheet" href="/css/login.css" />
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<div class="login-wrapper tw-flex tw-grid-flow-row tw-h-full">
  {{! Left section : Other way to login }}
  <div
    class="login-option tw-h-full tw-bg-[#53AA51] tw-w-[30%] tw-z-10 tw-flex tw-flex-col tw-justify-center tw-items-center"
  >
    <div class="tw-text-white tw-font-bold tw-text-2xl tw-mb-[30px]">
      Login use account on
    </div>

    <button
      class="tw-border-none tw-h-[40px] tw-w-[220px] tw-rounded-xl tw-font-bold tw-bg-white tw-inline-flex tw-justify-center tw-items-center tw-mb-[30px]"
      onclick="window.location.href='/auth/google'"
    >
      <svg
        class="tw-mr-2"
        width="30px"
        height="30px"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g><g id="SVGRepo_iconCarrier">
          <path
            d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z"
            fill="#4285F4"
          ></path>
          <path
            d="M16.2863 29.9998C20.1434 29.9998 23.3814 28.7553 25.7466 26.6086L21.2386 23.1863C20.0323 24.0108 18.4132 24.5863 16.2863 24.5863C12.5086 24.5863 9.30225 22.1441 8.15929 18.7686L7.99176 18.7825L3.58208 22.127L3.52441 22.2841C5.87359 26.8574 10.699 29.9998 16.2863 29.9998Z"
            fill="#34A853"
          ></path>
          <path
            d="M8.15964 18.769C7.85806 17.8979 7.68352 16.9645 7.68352 16.0001C7.68352 15.0356 7.85806 14.1023 8.14377 13.2312L8.13578 13.0456L3.67083 9.64746L3.52475 9.71556C2.55654 11.6134 2.00098 13.7445 2.00098 16.0001C2.00098 18.2556 2.55654 20.3867 3.52475 22.2845L8.15964 18.769Z"
            fill="#FBBC05"
          ></path>
          <path
            d="M16.2864 7.4133C18.9689 7.4133 20.7784 8.54885 21.8102 9.4978L25.8419 5.64C23.3658 3.38445 20.1435 2 16.2864 2C10.699 2 5.8736 5.1422 3.52441 9.71549L8.14345 13.2311C9.30229 9.85555 12.5086 7.4133 16.2864 7.4133Z"
            fill="#EB4335"
          ></path>
        </g></svg>
      <span>Login with Google</span>
    </button>

    <button
      class="tw-border-none tw-h-[40px] tw-w-[220px] tw-rounded-xl tw-font-bold tw-bg-black tw-inline-flex tw-justify-center tw-items-center"
      onclick="window.location.href='/auth/github'"
    >
      <svg
        class="tw-mr-2"
        width="30px"
        height="30px"
        viewBox="0 0 20 20"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        fill="#000000"
      ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"
        ></g><g id="SVGRepo_iconCarrier">
          <title>github [#142]</title>
          <desc>Created with Sketch.</desc>
          <defs> </defs>
          <g
            id="Page-1"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g
              id="Dribbble-Light-Preview"
              transform="translate(-140.000000, -7559.000000)"
              fill="#ffffff"
            >
              <g id="icons" transform="translate(56.000000, 160.000000)">
                <path
                  d="M94,7399 C99.523,7399 104,7403.59 104,7409.253 C104,7413.782 101.138,7417.624 97.167,7418.981 C96.66,7419.082 96.48,7418.762 96.48,7418.489 C96.48,7418.151 96.492,7417.047 96.492,7415.675 C96.492,7414.719 96.172,7414.095 95.813,7413.777 C98.04,7413.523 100.38,7412.656 100.38,7408.718 C100.38,7407.598 99.992,7406.684 99.35,7405.966 C99.454,7405.707 99.797,7404.664 99.252,7403.252 C99.252,7403.252 98.414,7402.977 96.505,7404.303 C95.706,7404.076 94.85,7403.962 94,7403.958 C93.15,7403.962 92.295,7404.076 91.497,7404.303 C89.586,7402.977 88.746,7403.252 88.746,7403.252 C88.203,7404.664 88.546,7405.707 88.649,7405.966 C88.01,7406.684 87.619,7407.598 87.619,7408.718 C87.619,7412.646 89.954,7413.526 92.175,7413.785 C91.889,7414.041 91.63,7414.493 91.54,7415.156 C90.97,7415.418 89.522,7415.871 88.63,7414.304 C88.63,7414.304 88.101,7413.319 87.097,7413.247 C87.097,7413.247 86.122,7413.234 87.029,7413.87 C87.029,7413.87 87.684,7414.185 88.139,7415.37 C88.139,7415.37 88.726,7417.2 91.508,7416.58 C91.513,7417.437 91.522,7418.245 91.522,7418.489 C91.522,7418.76 91.338,7419.077 90.839,7418.982 C86.865,7417.627 84,7413.783 84,7409.253 C84,7403.59 88.478,7399 94,7399"
                  id="github-[#142]"
                > </path>
              </g>
            </g>
          </g>
        </g></svg>
      <span class="tw-text-white">Login with Github</span>
    </button>

  </div>
  {{! Right section:  Login by using username and password }}
  <div
    class="login-area tw-h-full tw-bg-white tw-w-[70%] tw-inline-flex tw-justify-center tw-items-center"
  >
    <div>
      <div class="tw-flex tw-flex-col">
        <div class="tw-text-center tw-text-3xl tw-font-extrabold tw-mb-5">Login
          to your account</div>
        <div class="tw-text-center tw-text-2xl">Don't have an account?
          <a
            class="sign-up-ref tw-font-bold tw-text-[#53AA51]"
            href="/account/signup"
          >Sign Up here</a></div>
      </div>

      <form
        id="loginForm"
        class="form"
        action="/auth/local/login"
        method="POST"
      >
        <div class="flex-column">
          <label>Email </label></div>
        <div class="inputForm">
          <svg
            height="20"
            viewBox="0 0 32 32"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          ><g id="Layer_3" data-name="Layer 3"><path
                d="m30.853 13.87a15 15 0 0 0 -29.729 4.082 15.1 15.1 0 0 0 12.876 12.918 15.6 15.6 0 0 0 2.016.13 14.85 14.85 0 0 0 7.715-2.145 1 1 0 1 0 -1.031-1.711 13.007 13.007 0 1 1 5.458-6.529 2.149 2.149 0 0 1 -4.158-.759v-10.856a1 1 0 0 0 -2 0v1.726a8 8 0 1 0 .2 10.325 4.135 4.135 0 0 0 7.83.274 15.2 15.2 0 0 0 .823-7.455zm-14.853 8.13a6 6 0 1 1 6-6 6.006 6.006 0 0 1 -6 6z"
              ></path></g></svg>
          <input
            type="text"
            class="input"
            name="email"
            placeholder="Enter your Username"
            required
          />
        </div>

        <div class="flex-column">
          <label>Password </label></div>
        <div class="inputForm">
          <svg
            height="20"
            viewBox="-64 0 512 512"
            width="20"
            xmlns="http://www.w3.org/2000/svg"
          ><path
              d="m336 512h-288c-26.453125 0-48-21.523438-48-48v-224c0-26.476562 21.546875-48 48-48h288c26.453125 0 48 21.523438 48 48v224c0 26.476562-21.546875 48-48 48zm-288-288c-8.8125 0-16 7.167969-16 16v224c0 8.832031 7.1875 16 16 16h288c8.8125 0 16-7.167969 16-16v-224c0-8.832031-7.1875-16-16-16zm0 0"
            ></path><path
              d="m304 224c-8.832031 0-16-7.167969-16-16v-80c0-52.929688-43.070312-96-96-96s-96 43.070312-96 96v80c0 8.832031-7.167969 16-16 16s-16-7.167969-16-16v-80c0-70.59375 57.40625-128 128-128s128 57.40625 128 128v80c0 8.832031-7.167969 16-16 16zm0 0"
            ></path></svg>
          <input
            type="password"
            class="input"
            name="password"
            placeholder="Enter your Password"
            required
          />
        </div>

        <div
          class="g-recaptcha"
          data-sitekey="6LepRqgqAAAAAGozCIfT7mRPrxW-3cAAI2Rjk0ZT"
        ></div>

        <button class="button-submit tw-text-xl tw-tracking-wider">Sign In</button>

      </form>
    </div>
  </div>
  <script src="/js/login.js"></script>
</div>