<div class="tw-font-extrabold tw-text-[40px] tw-ml-4 tw-mt-2">All posts</div>
<div class="tw-grid tw-grid-cols-3 gap-3 tw-mt-5">
{{>post-card}}
{{>post-card}}
{{>post-card}}
{{>post-card}}
{{>post-card}}
{{>post-card}}
</div>