<div
  class="tw-flex tw-justify-center tw-items-center tw-min-h-screen tw-bg-gray-100"
>
  <form
    class="tw-flex tw-flex-col tw-items-center tw-justify-around tw-w-[500px] tw-bg-white tw-rounded-xl tw-p-5"
  >
    <div class="tw-text-xl tw-font-bold tw-text-black">OTP</div>
    <div class="tw-text-xl tw-font-bold tw-text-black">Verification Code</div>
    <p class="tw-text-gray-400 tw-text-sm tw-mt-1 tw-text-center">
      We have sent a verification code to your email address
    </p>
    <div class="tw-flex tw-gap-3 tw-mt-2">
      <input
        id="otp"
        name="otp"
        type="text"
        maxlength="4"
        class="tw-w-full tw-h-8 tw-text-center tw-border-[1px] tw-border-black focus:tw-border-blue-500 tw-rounded-lg"
      />

    </div>
    <button
      class="tw-mt-6 tw-py-3 tw-px-4 tw-rounded-lg tw-border-none tw-bg-[#53aa51] tw-text-white tw-cursor-pointer active:tw-scale-95 tw-font-bold tw-min-w-28"
    >
      Verify
    </button>
  </form>
</div>