<link rel="stylesheet" href="/css/account-setting-upgradeaccount.css" />

<div class = "accountsetting-upgrade-container">
    <p class="accountsetting-upgrade-header">Upgrade to Premium</p>
    <p class="accountsetting-security-header3">Now your status is Free account.</p>                                                                                                                             
    <p class="accountsetting-security-header3">All SportsBlog plans include unlimited Posts, Comments, and Traffic. </p>
    <p class="accountsetting-security-header2">Try Sportblog Premium</p>
    <ul>
        <li>
            <p>Unlimited Pro Photos</p>
        </li>

        <li>
            <p>Create additional blogs</p>
        </li>

        <li>
            <p>Customize Your Blog</p>
        </li>
    </ul>
    <button class="accountsetting-upgrade-button">UPGRADE TO PREMIUM $10/YEAR</button>

</div>